<!-- <main>
<div class="row mb-2" id="datosAlmacen">
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
    <a class="" data-toggle="modal"
    data-target="#modalAlmacen" (click)="almacenSeleccionado.emit(almacen)">{{almacen.localidad|uppercase}}</a>
  </div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3"></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
    <a class="" data-bs-toggle="modal" data-bs-target="#modalProducto" (click)="consultar">
      &nbsp;<fa-icon [icon]="lupa"></fa-icon>&nbsp;
    </a>
    <a role="button" (click)="eliminar" >
      &nbsp;&nbsp;
      <fa-icon [icon]="trash"></fa-icon>
      &nbsp;
    </a>
    <a class="" data-bs-target="#modalPutAlmacen" (click)="editar">
      &nbsp;&nbsp;<fa-icon [icon]="pencil"></fa-icon>&nbsp;
    </a>
    <a class="" routerLink="formulario-almacen">
      &nbsp;&nbsp;<fa-icon [icon]="plus"></fa-icon>&nbsp;
    </a>
  </div>


</div>
</main> -->

<main>
  <div class="container mt-auto">

    <div class="row justify-content-center">
       <div class="col-5">
        <a>
        <li class="list-group-item" (click)="editar()">{{ almacen.localidad|uppercase}}</li>
        </a>
      </div>
      <!-- <div class="col-1"> -->
        <!-- <a>
          <fa-icon [icon]="lupa" class="fa-2x" (click)="editar()"></fa-icon>
        </a>
      </div> -->
      <!-- <div class="col-1">
        <a>
          <fa-icon [icon]="pencil" class="fa-2x" (click)="editar()"></fa-icon>
        </a>
      </div>
      <div class="col-1">
        <a>
          <fa-icon [icon]="eraser" class="fa-2x" (click)="eliminar()"></fa-icon>
        </a>
      </div> -->
      <div class="col-1">
      </div>
    </div>

  </div>
</main>
