<!-- <footer class = "container-fluid">
  <div class=" row container-fluid text-sm-center">
      <nav id="enlacesIconos">
        <a href="mailto:electromarket@emk.com">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://media3.bosch-home.com/Documents/MCDOC02665283_2018-04-17_Catalogo_LB_Argentina_DEF_agreed.pdf">
          <i class="fa-solid fa-book-open"></i>
        </a>
        <a href="Almacén.html">
          <i class="fa-solid fa-store"></i>
        </a>
      </nav>
    </div>
      <address class = "text-sm-center">
        <p>Servico de Calidad Electromarket.S.A.</p>
        <p>+34 895 29 26</p>
        <p class="copy"> ©Copyright 2022 DIM XLIV</p>
      </address>

</footer> -->
<footer class="footer mt-auto py-3 bg-success">
  <div class="container">
      <span class="text-white">
        <address class = "text-sm-center">
          <p>Servico de Calidad Electromarket.S.A.</p>
          <p>+34 895 29 26</p>
          <p class="copy"> ©Copyright 2022 DIM XLIV</p>
        </address>
      </span>
  </div>
</footer>
