footer{
  color: rgb(248, 224, 4);
  font-weight: bolder;
  background-image: url("../../../../assets/imagenes/portada.jpg");
  background-size: cover;
  width: 100%;
  }

footer>div.row{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left:1rem;
  }

  p{
    color: yellow;
  }
