<div class="container">
  <div class="row">
    <div class="col">
      <img class="tele-lavadora img-fluid" src="assets/imagenes/Televisor y lavadora extrapequeña.jpg" alt="Tele-Lavadora">
    </div>
    <div class="col">
      <h1 class="text-center mt-4">Not Found</h1>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h2 class="text-center">Error 404</h2>
    </div>
    <div class="col">
    </div>
</div>
<div class="row">
  <div class="col">
  </div><div class="col">
  </div>
  <div class="col"><a class="nav-link home" routerLink="/" routerLinkActive="router-link-active">
    <fa-icon [icon]="home" id="iconoHome"></fa-icon> Inicio
  </a>
  </div>
  <div class="col"></div>
  <div class="col">
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>
</div>



