.container-fluid{
  text-align: center;
}


h1, h2 {
  color: yellow;
}

.col{
  justify-content: center;
  align-items: center;
}

#iconoHome{
  color: yellow;
}

a {
  color: yellow;
  font-size: 2rem;
  margin-left: 15%;
}
.tele-lavadora{
  margin-top: 2rem;
}

#notfound{
  padding-top: 10%;
}
