<main>
  <div class="container mt-auto">
      <br>
      <h3>Productos</h3>

      <div *ngFor="let lavadora of lavadoras" id="lavadoras">
          <app-lavadora-item
              [lavadora]="lavadora"
              (lavadoraEliminar)="onLavadoraEliminar($event)"
              (lavadoraEditar)="onLavadoraEditar($event)">
          </app-lavadora-item>


      </div>

      <div *ngFor="let televisor of televisores" id="televisores">
          <app-televisor-item
              [televisor]="televisor"
              (televisorEliminar)="onTelevisorEliminar($event)"
              (televisorEditar)="onTelevisorEditar($event)">
          </app-televisor-item>

      </div>

  </div>


</main>
