<main>
  <div class="container-mt-auto">

  <div class="row mb-2">
    <hr class='w-100'>
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
      <li class="list-goup.item">
      Televisor---{{televisor.marca}}, {{televisor.modelo}}, {{televisor.calificacionEnergetica}}, {{televisor.numeroPulgadas}}",
      {{televisor.precio}} €
        </li>
    </div>
    <div class="col-sm-4">
      <a>

        <fa-icon [icon]="trash" class="fa-2x" (click)="borrarTelevisor()"></fa-icon>
        &nbsp;
      </a>
      <a>
        <fa-icon [icon]="pencil" class="fa-2x" (click)="modificarTelevisor()"></fa-icon>&nbsp;
      </a>
    </div>
    </div>
  </div>
</main>
